In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
import seaborn as sns
from sklearn.linear_model import LogisticRegression
# from sklearn.cross_validation
# import train_test_split 
from sklearn import metrics 
# from sklearn.cross_validation
# import cross_val_score

In [2]:
dta = sm.datasets.fair.load_pandas().data

In [3]:
dta

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666
...,...,...,...,...,...,...,...,...,...
6361,5.0,32.0,13.0,2.0,3.0,17.0,4.0,3.0,0.000000
6362,4.0,32.0,13.0,1.0,1.0,16.0,5.0,5.0,0.000000
6363,5.0,22.0,2.5,0.0,2.0,14.0,3.0,1.0,0.000000
6364,5.0,32.0,6.0,1.0,3.0,14.0,3.0,4.0,0.000000
6365,4.0,22.0,2.5,0.0,2.0,16.0,2.0,4.0,0.000000

In [4]:
dta['affair'] = (dta.affairs>0).astype(int)

In [5]:
dta

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs,affair
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111,1
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769,1
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000,1
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273,1
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666,1
...,...,...,...,...,...,...,...,...,...,...
6361,5.0,32.0,13.0,2.0,3.0,17.0,4.0,3.0,0.000000,0
6362,4.0,32.0,13.0,1.0,1.0,16.0,5.0,5.0,0.000000,0
6363,5.0,22.0,2.5,0.0,2.0,14.0,3.0,1.0,0.000000,0
6364,5.0,32.0,6.0,1.0,3.0,14.0,3.0,4.0,0.000000,0
6365,4.0,22.0,2.5,0.0,2.0,16.0,2.0,4.0,0.000000,0

In [6]:
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + religious + educ + C(occupation) + C(occupation_husb)', dta, return_type="dataframe")

In [7]:
X = X.rename(columns =
{'C(occupation)[T.2.0]':'occ_2',
'C(occupation)[T.3.0]':'occ_3',
'C(occupation)[T.4.0]':'occ_4',
'C(occupation)[T.5.0]':'occ_5',
'C(occupation)[T.6.0]':'occ_6',
'C(occupation_husb)[T.2.0]':'occ_husb_2',
'C(occupation_husb)[T.3.0]':'occ_husb_3',
'C(occupation_husb)[T.4.0]':'occ_husb_4',
'C(occupation_husb)[T.5.0]':'occ_husb_5',
'C(occupation_husb)[T.6.0]':'occ_husb_6'})

In [8]:
y = np.ravel(y)

In [9]:
X

,Intercept,occ_2,occ_3,occ_4,occ_5,occ_6,occ_husb_2,occ_husb_3,occ_husb_4,occ_husb_5,occ_husb_6,rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6361,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,32.0,13.0,2.0,3.0,17.0
6362,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,32.0,13.0,1.0,1.0,16.0
6363,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,22.0,2.5,0.0,2.0,14.0
6364,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,32.0,6.0,1.0,3.0,14.0
6365,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,22.0,2.5,0.0,2.0,16.0

In [10]:
y

array([1., 1., 1., ..., 0., 0., 0.])

In [11]:
X.shape

(6366, 17)

In [12]:
y.shape

(6366,)

In [13]:
X.isnull().sum()

Intercept        0
occ_2            0
occ_3            0
occ_4            0
occ_5            0
occ_6            0
occ_husb_2       0
occ_husb_3       0
occ_husb_4       0
occ_husb_5       0
occ_husb_6       0
rate_marriage    0
age              0
yrs_married      0
children         0
religious        0
educ             0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30,random_state=42)

In [15]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((4456, 17), (1910, 17), (4456,), (1910,))

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
X_train = scaler.fit_transform(X_train)

In [18]:
X_test = scaler.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()

In [20]:
from sklearn.model_selection import GridSearchCV

In [21]:
parameter = {'penalty':['l1','l2','elasticnet'],'C':[1,2,3,4,5,6,10,20,30,31,32,33,40,50],'max_iter':[100,200,300]}

In [22]:
logisticcv = GridSearchCV(logistic,parameter,scoring='accuracy',cv=5)

In [23]:
logisticcv.fit(X_train,y_train)

d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
420 fits failed out of a total of 630.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
210 fits failed with the following error:
Traceback (most recent call last):
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
210 fits failed with the following error:
Traceback (most recent call last):
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\INEURON\ML CI CD\Credit-Card-Default-Prediction-CI-CD-Pipline\venv\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.72531367        nan        nan 0.72531367        nan
        nan 0.72531367        nan        nan 0.72531342        nan
        nan 0.72531342        nan        nan 0.72531342        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72531342        nan        nan 0.72531342        nan
        nan 0.72531342        nan        nan 0.72531342        nan
        nan 0.72531342        nan        nan 0.72531342        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72553789        nan        nan 0.72553789        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan
        nan 0.72576211        nan        nan 0.72576211        nan]
  category=UserWarning,

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 10, 20, 30, 31, 32, 33, 40,
                               50],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [24]:
logisticcv.best_params_

{'C': 30, 'max_iter': 100, 'penalty': 'l2'}

In [25]:
logisticcv.best_score_

0.7257621053585179

In [26]:
y_pred = logisticcv.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [28]:
confusion_matrix(y_pred,y_test)

array([[1140,  391],
       [ 135,  244]], dtype=int64)

In [29]:
score = accuracy_score(y_pred,y_test)

In [30]:
score

0.724607329842932

In [31]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         0.0       0.89      0.74      0.81      1531
         1.0       0.38      0.64      0.48       379

    accuracy                           0.72      1910
   macro avg       0.64      0.69      0.65      1910
weighted avg       0.79      0.72      0.75      1910